/**
 * @name salcord
 * @author Sal#0002
 * @version 2.0.0
 * @description “The whirlwind in his brain—which had so many times tugged his pituitary in ways that made him TAKE instead of GIVE subsided for the very first time. Tightness in his crotch usually corresponded with a tightness in his gut, making him want to CONTROL, to CHOKE, to SUBDUE... but not this time. Not ever again.” || A descent into madness.
 * @source https://github.com/sebaju/salcord
 */

@import url(https://raw.githack.com/sebaju/salcord/main/source/salcord.css);

:root {
  --background-image: url('https://cdn.discordapp.com/attachments/825491492280729606/832016896534511686/download_2.jpg');
  --background-image-blur: 0px; 
  --background-image-size: cover; 
  --background-image-position: center; 
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 5px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
}
